.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justfy-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212 ;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px;
  }